/* login.css */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-left {
  flex: 1;
  padding: 40px;
}

.login-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.login-right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-right form {
  width: 100%;
  max-width: 400px;
}

.login-right .form-label,
.login-right .form-control,
.login-right button {
  width: 100%;
  margin-bottom: 16px;
}

.login-right .form-control {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-right button {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #007bff;
  color: #fff;
}

/* login */

.login-container {
  width: 100%;
  height: calc(100vh - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container, .login-form {
  width: 50%;
  display: flex;
  align-items: center;
}

.login-form form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 60%;
}

.img-container{
  justify-content: flex-end;
}

.login-form{
  justify-content: flex-start;
}